@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
}

.text {
    color: white;
    font-family: "Roboto Mono";
    font-size: 24px;
}

.gameHeader {
    font-size: 30px;
}

.computer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(./media/computer.png);
    background-position: center;
    background-size: contain;

    z-index: 0;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
}

.cMove {
    margin-bottom: 50px;
    color: rgb(59, 219, 59);
}

.scoreContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 230px;
    width: 230px;

    margin-top: 20px;
}

.moveContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    
    gap: 20px;
    padding: 20px;
}

.move {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 250px;
}

.move .text {
    font-size: 30px;
}

